body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  background-color: #121212;
}

a {
  text-decoration-line: none;
  display: block;
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* a:hover,
a:focus {
  color: var(--color-ocean);
} */

h1,
h2,
h3,
h4,
h5,
h6,
P {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

form,
fieldset,
label,
input,
textarea {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 375px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

section {
  margin-bottom: 80px;
}

.hero-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.04em;
  color: #fff;
  margin-bottom: 20px;
}

.section-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  color: #fff;
}

.carts-item-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  color: #fff;
}

.text-main {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
}

.text-s {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
}

.text-l {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: #fff;
}

.hero-title-accent {
  font-style: italic;
  color: #bea69e;
}

.text-decopativo {
  color: #bea69e;
}

.text-light {
  color: rgba(255, 255, 255, 0.4);
}

/* header */
.header-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero-header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 9px 20px;
}

.logo-icon {
  fill: #fff;
}

.logo-link {
  line-height: 0;
  margin-right: 90px;
}

.header-camera-mobile {
  padding: 8px;
  width: 32px;
  height: 32px;
  background-color: #1d1d1d;
  border-radius: 50%;
}

.header-camera-icon {
  fill: #bea69e66;
}

.burger-menu-btn {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  stroke: #fff;
  margin-left: 14px;
}

/* Section Hero */

.hero-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 30px;
  background-color: #1d1d1d;
  padding: 40px 20px 0 20px;
}

.hero-info-links {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 32px;
}

.hero-info-students {
  position: relative;
}

.hero-info-students-link {
  display: flex;
  align-items: center;
  width: 89px;
  height: 36px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: #fff;
  fill: #fff;
  margin-top: 48px;
  margin-right: 20px;
}

.hero-info-student-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.hero-info-student-img:nth-child(2) {
  left: 32px;
  z-index: 2;
}

.hero-info-student-img:nth-child(3) {
  left: 64px;
  z-index: 1;
}

.hero-info-reviews {
  display: flex;
  align-items: center;
  gap: 12px;
}

.hero-info-reviews-icon-wrap {
  border-radius: 100px;
  background-color: #bea69e;
  padding: 12px;
  line-height: 0;
}

.hero-info-reviews-icon {
  fill: #121212;
}

.hero-img {
  margin-right: auto;
  margin-left: auto;
}

.hero-info-reviews-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  letter-spacing: -0.04em;
  color: #fff;
}

.hero-link-accent {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: rgba(255, 255, 255, 0.5);
}
/* 
.hero-text-decopativo {
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
} */

/* Section About Us */

.about-us-wrap {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  margin-top: 40px;
}

.about-us-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Section Our Courses */

.our-courses-info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 40px;
}

.our-courses-list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.our-corses-item {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
  padding: 28px;
}

.our-corses-item-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.our-courses-icon-wrap {
  width: 32px;
  height: 32px;
  padding: 6px;
  border-radius: 50%;
  background-color: #1d1d1d;
}

.our-courses-item-icon {
  stroke: #777777;
}

.our-courses-title {
  margin-bottom: 164px;
}

/* Section Our Mentors */

.our-mentors-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 40px;
  margin-top: 40px;
}

.our-mentors-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.our-mentors-img {
  margin-bottom: 12px;
}

/* Section Sing Up */

.sing-up-form {
  margin-top: 20px;
}

.form-title {
  width: 295px;
  margin-bottom: 40px;
}

.sing-up-form-field {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  padding: 14px 18px;
  margin-bottom: 8px;
}

.sing-up-form-field::placeholder {
  color: #fff;
  opacity: 0.7;
}

.sing-up-form-comment {
  width: 100%;
  height: 112px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  resize: none;
  padding: 14px 18px;
  margin-bottom: 40px;
}

.sing-up-form-comment::placeholder {
  color: #fff;
  opacity: 0.7;
}

.sing-up-form-bth {
  width: 100%;
  border-radius: 12px;
  background-color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  color: #121212;
  padding: 14px 127px;
  margin-bottom: 20px;
}

.privacy-pol-link {
  display: inline;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}

/* Section Reviews */

.reviews-item {
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  margin-top: 40px;
}

.reviews-item-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviews-user-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviews-user-rating-icon {
  fill: #bea69e;
}

.reviews-user-rating {
  display: flex;
  gap: 4px;
  padding-left: 66px;
  margin-top: 4px;
  margin-bottom: 20px;
}
.reviews-user-rating-icon:last-child {
  fill: #414141;
}

/* footer */

.footer-wrap {
  padding: 40px 0 20px 0;
}

.footer-info-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.footer-logo-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 40px;
}

.footer-adress {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
  color: #fff;
}

.footer-links-colum {
  display: flex;
  gap: 40px;
  margin-bottom: 75px;
}

.footer-social,
.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.footer-social-link,
.footer-menu-link,
.footer-privacy-link,
.footer-tel-link {
  color: #fff;
}

.footer-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-form-field {
  width: 267px;
  height: 60px;
  border-radius: 12px;
  border: none;
  background: #fff;
  padding: 20px 18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #121212;
}

.footer-form-field::placeholder {
  opacity: 0.7;
}

.footer-form-btn {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  border: none;
  background: #1d1d1d;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
  padding: 18px;
}

.footer-info-privacy-row {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: #fff;
}

/* Burger-menu */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.4);

  /* for not visibily */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opasity, visibility 250ms linear;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.burger-menu-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 218px;
  min-height: 812px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #bea69e;
  color: #121212;
}

.burger-menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  line-height: 0;
  background-color: transparent;
  padding: 0;
  border: none;
}
.burger-menu-close-btn-icon {
  stroke: #121212;
}

.burger-menu {
  padding: 180px 0 0 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.burger-menu-item {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.burger-menu-link {
  color: #121212;
}

/* <================= MEDIA ===============> */

@media screen and (max-width: 767px) {
  .header-menu-btn {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-camera-mobile {
    display: none;
  }
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  section {
    margin-bottom: 100px;
  }

  .hero-title {
    font-size: 60px;
    line-height: 1.07;
  }

  .section-title {
    font-size: 48px;
    line-height: 1.13;
  }

  .text-main {
    font-size: 16px;
    line-height: 1.25;
  }

  .text-l {
    line-height: 1.4;
  }

  /* header */

  .header-container {
    display: flex;
    column-gap: 14px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .hero-header-nav {
    padding: 16px 20px;
  }

  .logo-link {
    margin-right: 300px;
  }

  .logo-icon {
    width: 123px;
    height: 16px;
  }

  .burger-menu-btn {
    margin-left: 0;
  }

  .burger-menu-btn-icon {
    width: 40px;
    height: 28px;
  }

  .header-menu-btn {
    min-width: 188px;
    display: inline-flex;
    padding: 16px 58px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.56;
    text-transform: uppercase;
    color: #121212;
  }

  /* Section Hero */

  .hero-wrap {
    padding: 64px 32px 0 32px;
  }

  .hero-title {
    max-width: 498px;
  }

  .hero-column-info .text-s {
    max-width: 418px;
  }
  .hero-info-links {
    margin-bottom: 40px;
  }

  .hero-info-students {
    position: relative;
  }

  .hero-info-students-link {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
    width: 82px;
    height: 56px;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 0;
    margin-left: 150px;
    margin-right: 0px;
  }

  .hero-info-student-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 54px;
    height: 54px;
  }

  .hero-info-student-img:nth-child(2) {
    left: 40px;
    z-index: 2;
  }

  .hero-info-student-img:nth-child(3) {
    left: 84px;
    z-index: 1;
  }

  .hero-info-reviews-icon-wrap {
    padding: 15px;
  }

  .hero-info-reviews-link {
    max-width: 57px;
    line-height: 1.25;
  }

  .hero-link-accent {
    font-size: 16px;
    line-height: 1.25;
  }

  .hero-img {
    width: 393px;
    height: 434px;
  }
  /* 
.hero-text-decopativo {
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
} */

  /* Section About Us */

  .about-us-wrap {
    gap: 50px;
    margin-top: 50px;
  }

  .about-us-info {
    flex-direction: row;
    gap: 40px;
  }

  .about-us-info .text-main {
    width: 280px;
  }

  .about-us-img {
    width: 704px;
    height: 340px;
  }

  /* Section Our Courses */

  .our-courses-info {
    flex-direction: row;
    gap: 58px;
    margin-bottom: 50px;
  }

  .our-courses-info .text-main {
    width: 380px;
  }

  .our-courses-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
  }

  .our-corses-item {
    width: calc((100% - 20px) / 2);
    padding: 32px;
  }

  .our-corses-item-row {
    margin-bottom: 32px;
  }

  .our-courses-title {
    margin-bottom: 180px;
  }

  /* Section Our Mentors */

  .our-mentors-list {
    row-gap: 93px;
    column-gap: 100px;
    margin-top: 50px;
  }

  /* Section Sing Up */

  .sing-up-form p {
    width: 480px;
  }

  .sing-up-form-field {
    width: 480px;
    padding: 20px 18px;
    margin-bottom: 14px;
  }

  .sing-up-form-comment {
    width: 480px;
    height: 119px;
    padding: 20px 18px;
  }

  .sing-up-form-bth {
    width: 480px;
    font-size: 18px;
    line-height: 1.56;
    padding: 16px 216px;
  }

  .privacy-pol-link {
    display: inline;
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
  }

  /* Section Reviews */

  .reviews-item {
    position: relative;
    width: 640px;
    padding: 20px;
    margin: 50px auto 0 auto;
  }

  .reviews-item-row {
    margin-bottom: 20px;
  }

  .reviews-user-rating {
    position: absolute;
    top: 20px;
    right: 20px;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* footer */

  .footer-wrap {
    padding: 50px 0 25px 0;
  }

  .footer-info-row {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 74px;
  }

  .footer-logo-column {
    max-width: 142px;
    gap: 25px;
    margin-bottom: 0px;
  }

  .footer-links-colum {
    gap: 25px;
    margin-bottom: 0;
  }

  .footer-form-field {
    width: 178px;
  }

  /* Burger-menu */

  .burger-menu-wrap {
    width: 480px;
    min-height: 1024px;
  }

  .burger-menu-close-btn {
    right: 32px;
  }
  .burger-menu-close-btn-icon {
    width: 40px;
    height: 40px;
  }

  .burger-menu {
    padding: 232px 0 0 64px;
    gap: 28px;
  }

  .burger-menu-img {
    width: 480px;
    height: 476px;
  }
}

@media screen and (max-width: 1279px) {
  .header-menu,
  .sing-up-img-column,
  .reviews-item:nth-child(2) {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .backdrop.backdrop,
  .burger-menu-btn,
  .header-camera-mobile {
    display: none;
  }
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }

  section {
    margin-bottom: 150px;
  }

  .hero-title {
    font-size: 64px;
    line-height: 1.06;
  }

  /* header */

  .header-container {
    column-gap: 20px;
    margin-bottom: 80px;
  }

  .hero-header-nav {
    padding: 21px 50px;
  }

  .logo-link {
    margin-right: 97px;
  }

  .header-menu {
    display: flex;
    gap: 28px;
  }

  .header-menu-link {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: #fff;
  }

  .header-menu-btn {
    min-width: 238px;
    padding: 16px 84px;
  }

  /* Section Hero */

  .hero-wrap {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 80px 50px 0 50px;
  }

  .hero-title {
    max-width: 540px;
  }

  .hero-info-links {
    margin-top: 136px;
    margin-bottom: 50px;
  }

  .hero-img {
    width: 397px;
    height: 520px;
  }
  /* 
.hero-text-decopativo {
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
} */

  /* Section About Us */

  .about-us-wrap {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 40px;
  }

  .about-us-info {
    gap: 20px;
  }

  .about-us-info .text-main {
    max-width: 268px;
  }

  .about-us-img {
    width: 488px;
    height: 260px;
  }

  /* Section Our Courses */

  .our-courses-info {
    justify-content: space-between;
  }

  .our-courses-info .text-main {
    width: 405px;
  }

  .our-corses-item {
    width: calc((100% - 40px) / 3);
  }

  .our-corses-item-row {
    margin-bottom: 32px;
  }

  .our-courses-title {
    margin-bottom: 180px;
  }

  /* Section Our Mentors */

  /* Section Sing Up */

  .sing-up-container {
    display: flex;
  }

  .sing-up-img-column {
    display: flex;
    align-items: self-end;
    gap: 20px;
    margin-bottom: 32px;
  }

  .sing-up-img-s-wrap {
    width: 180px;
    height: 288px;
    border-radius: 1000px;
    background: #bea69e;
    padding: 76px 19px 62px 19px;
  }

  .sing-up-img-wrap {
    width: 340px;
    height: 540px;
    border-radius: 1000px;
    background: #1d1d1d;
    padding: 156px 50px 88px 50px;
  }

  /* Section Reviews */

  .reviews-list {
    display: flex;
    gap: 20px;
  }

  .reviews-item {
    width: 530px;
    padding: 20px 20px 20px 40px;
    margin: 50px 0 0 0;
  }

  /* footer */

  .footer-info-row {
    margin-bottom: 50px;
  }

  .footer-logo-column {
    margin-right: 285px;
  }

  .footer-form-field {
    width: 216px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  /* header */

  .logo-link {
    margin-right: 209px;
  }

  .header-menu {
    gap: 40px;
  }

  /* Section Hero */

  .hero-wrap {
    flex-direction: row;
    justify-content: space-between;
    gap: 130px;
    padding: 80px 100px 0 50px;
  }

  /* 
.hero-text-decopativo {
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
} */

  /* Section About Us */

  .about-us-wrap {
    gap: 50px;
  }

  .about-us-info {
    gap: 40px;
  }

  .about-us-info .text-main {
    max-width: 314px;
  }

  .about-us-img {
    width: 560px;
    height: 240px;
  }

  /* Section Our Courses */

  .our-courses-info .text-main {
    width: 565px;
  }

  .our-courses-title {
    margin-bottom: 200px;
  }

  /* Section Our Mentors */

  /* Section Sing Up */

  .sing-up-img-column {
    margin-bottom: 38px;
  }

  .sing-up-img-s-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 288px;
    padding: 63px 18px 62px 18px;
  }

  .sing-up-img-s {
    width: 163px;
    height: 154px;
  }

  .sing-up-img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 540px;
    padding: 139px 48px 88px 48px;
  }

  .sing-up-img {
    width: 254px;
    height: 313px;
  }

  /* Section Reviews */

  .reviews-item {
    width: 610px;
    padding: 20px 20px 20px 20px;
    margin: 50px 0 0 0;
  }

  /* footer */

  .footer-logo-column {
    margin-right: 340px;
  }

  .footer-links-colum {
    gap: 100px;
  }

  .footer-menu {
    gap: 20px;
  }

  .footer-form-field {
    width: 216px;
  }
}
